* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
.first {
  direction: rtl;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.maliat-kol {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  border-radius: 10px;
  flex-basis: 45%;
  width: 300px;
  height: 30px;
  background-color: rgb(191, 247, 191);
  text-align: center;
}
.mablagh-kol {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  border-radius: 8px;
  flex-basis: 45%;
  width: 300px;
  height: 30px;
  background-color: rgb(221, 142, 142);
  text-align: center;
}

.mybtn {
  margin: 10px 20px;
}
div.myTable {
  border: 1px solid #dddddd;
  height: 100vh;
  margin: 0 20px;
  overflow-y: auto;
  overflow-x: auto;
}

table {
  direction: rtl;
  border-collapse: collapse;
  width: 100%;
}
th {
  text-align: right;
  padding: 8px;
  background-color: #dddddd;
}
td,
input,
select {
  width: 12vw;
  text-align: right;
  border: 1px solid #dddddd;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.fa-save .fa-minus-circle {
  cursor: pointer;
}
img {
  width: 15px;
}
